
.hell .hh {
    margin-top: 30px;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px;
    
}
.hell1 .hh1 {
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px;
    
}
.hell{
    margin-top: 100px;
    font-size: 25px;
    
}
.hell1{
    margin-top: 100px;
    font-size: 25px;
    margin-bottom: 100px;
}
.hell .hh a{
    text-decoration: none;
    width: calc(33% - 30px);
    background: #82ddde;
    text-align: center;
    border-radius: 6px;
    padding: 30px 190px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 20px;
    justify-content: space-between;
}
.hell1 .hh1 a{
    text-decoration: none;
    background-image: linear-gradient(to right, blue, indigo, violet); -webkit-background-clip: text; -webkit-text-fill-color: transparent;
    /*background: #82ddde;*/
    text-align: center;
    border-radius: 6px;
    padding: 30px 190px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 20px;
    justify-content: space-between;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
}

.button-container {
    display: flex;
    text-decoration: none;

    justify-content: space-between;
    align-items: center;
    
  }
  
  .button {
    flex: 1;
    text-decoration: none;
    /*background: #82ddde;*/
    background-image: linear-gradient(to right, blue, indigo, violet); -webkit-background-clip: text; -webkit-text-fill-color: transparent;
    text-align: center;
    border-radius: 6px;
    margin: 30px 20px;
    padding-top: 18px;
    padding-bottom: 18px;
  }
  .button a{
    text-decoration: none;
    font-size: 15px;
  }
  
