body{
    background: linear-gradient(146.11deg, #156cd0 20.43%, rgba(255, 255, 255, 0) 79.91%), linear-gradient(202.81deg, #FF6636 38.99%, rgba(255, 255, 255, 0) 85.2%), #FFB45C;
    font-size: large;
    justify-content: center;
    font-family: Nunito;
}